/*
Принцип работы такой:

1) имеется список, у каждого li фиксированная максимальная ширина и высота,
равная ширине и высоте картинок и задано свойство overflow: hidden
2) внутри li находятся img и figcaption с текстом, который прячется благодаря overflow: hidden у li
3) если картинки отключены, figcaption поднимается наверх
4) если картинка не подгрузилась и вместо нее высвечивается стандартная иконка:
 - внутри контейнера figure у нас есть span.hidden, его не видно, т.к тегу figure задан отрицательный margin
 - .hidden делаем инлайн-блочным элементом для того, чтобы стандартная иконка встала в один ряд с ним
 - в итоге стандартная иконка прячется вместе с .hidden благодаря отрицательному margin'у

*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    min-width: 850px;
    list-style: none;
    width: 100%;
}

li{
    float: left;
    width: 125px;
    height: 125px;
    font: 16px "Arial", sans-serif;
    text-align: center;
    overflow: hidden;
}

li+li{
    margin-left: 20px;
}


li figcaption{
    display: table;
    height: 100%;
}

li figcaption .t-cell{
    display: table-cell;
    width: 125px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.hidden{
    display: inline-block;
    border: 1px solid red;
    width: 20px;
    height: 20px;
}

figure{
    margin-top: -22px;
    height: 100%;
}

.chrome{
    color: #22a12a;
}

.chrome i{
    color: #c90000;
    font-style: normal;
}

.chrome i+i{
    color: #f9d411;
}

.ff{
    color: #f2a414;
}

.opera{
    color: #c10e0e;
}

.safari{
    color: #646464;
}

.yandex{
    color: #000;
}

.yandex span:first-letter{
    color: #f00;
}

.ie{
    color: #036da3;
    float: right;
}



